.routine-list-container {
  text-align: justify;
  padding: 30px;
  background-color: rgb(255, 255, 255);
  width: 50%;
  display: flex;
  margin: auto;
  border: 2px solid black;
  border-radius: 15px;
  justify-content: space-between;
}

.routine-list-content {
  padding-bottom: 10px;
}

li,
.list-group {
  text-align: justify;
}

.h2 {
  padding-top: 10px;
}
