.exercise-card {
  display: inline-block;
  justify-content: space-between;
  width: 400px;
  padding: 50px;
  border: 1px solid #c9c9c9;
  text-align: center;
  background-color: antiquewhite;
  margin: 100px auto 0;
}

.card-container {
  width: 100%;
  padding-left: 35px;
  display: flex;
  flex-flow: row wrap;
}

.search-container {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin-bottom: 20px;
}
input,
#target,
#equipment {
  margin: 10px;
}
