.routine-list {
  height: 100%;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.routine-container {
  text-align: left;
}

.save-routine {
  text-align: center;
  margin: auto;
  display: flex;
}
